@import "nativescript-theme-core/css/core.light.css";

StackLayout {
  margin-left: 30;
  margin-right: 30;
  padding-bottom: 15;
  background-color: white;
}
Image {
  margin-top: 20;
  margin-bottom: 20;
}
Button, TextField {
  margin-left: 16;
  margin-right: 16;
  margin-bottom: 10;
}
.submit-btn {
  background-color: #000000;
  color: white;
  margin-top: 20;
}
