<div class="card">
  <h4 class="card-header">ข้อมูลโครงการ</h4>
  <div class="card-block">
    <ul>
      <li><b>Author:</b> <a href="https://github.com/DavideViolante" target="_blank">Wilailux Wanngern</a></li>
      <li><b>GitHub:</b> <a href="https://github.com/DavideViolante/Angular-Full-Stack" target="_blank">wilailuxCsubu</a></li>
      <li><b>รายละเอียด : </b></li>
      <ul>
        <li><a href="#" target="_blank">tool1</a> </li>
        <li><a href="#" target="_blank">tool2</a></li>
        <li><a href="#" target="_blank">tool3</a></li>

      </ul>

    </ul>
  </div>
</div>
